.form-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  //padding-left: 50px;
  padding-right: 50px;
}

.doc-fields {
  flex-grow: 1;
  margin-left: 10px;
  margin-right: 10px;
}
