<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    ExpenseReport {{title}} {{test}}!
  </h1>
  <table style="width: 100%; height: 43px; margin-left: auto; margin-right: auto;" border="1" cellpadding="2">
    <tbody>
    <tr style="height: 23px;">
      <td style="width: 62px; height: 23px;">&nbsp;<button class="btn btn-primary" type="button" onClick="newReport()">NewReport</button>
        </td>
            <td style="width: 112px; height: 23px;">&nbsp;<button class="btn btn-primary" type="button" onClick="getHistory()">History</button></td>
    </tr>
    </tbody>
    </table>
  <br>
  <table style="width: 100%; height: 43px; margin-left: auto; margin-right: auto;" border="1" cellpadding="2">
             <tbody>
          <tr style="height: 23px;">
            <td style="width: 62px; height: 23px;">&nbsp;NR.</td>
            <td style="width: 92px; height: 23px;">&nbsp;DATE:</td>
            <td style="width: 164px; height: 23px;">&nbsp;CONTENT:</td>
            <td style="width: 159px; height: 23px;">&nbsp;FIELD:</td>
            <td style="width: 109px; height: 23px;">&nbsp;PROJECT:</td>
            <td style="width: 110px; height: 23px;">&nbsp;SUM:</td>
            <td style="width: 111px; height: 23px;">&nbsp;CURRENCY:</td>
            <td style="width: 112px; height: 23px;">CRED.CARD:</td>
            <td style="width: 112px; height: 23px;">&nbsp;TOTAL SUM:</td>
          </tr>
          <tr style="height: 23px;">
            <td style="width: 62px; height: 23px;">&nbsp;</td>
            <td style="width: 92px; height: 23px;">&nbsp;</td>
            <td style="width: 164px; height: 23px;">&nbsp;</td>
            <td style="width: 159px; height: 23px;">&nbsp;</td>
            <td style="width: 109px; height: 23px;">&nbsp;</td>
            <td style="width: 110px; height: 23px;">&nbsp;</td>
            <td style="width: 111px; height: 23px;">&nbsp;</td>
            <td style="width: 112px; height: 23px;">&nbsp;</td>
            <td style="width: 112px; height: 23px;">&nbsp;</td>
          </tr>
          <tr style="height: 23px;">
            <td style="width: 62px; height: 23px;">&nbsp;</td>
            <td style="width: 92px; height: 23px;">&nbsp;</td>
            <td style="width: 164px; height: 23px;">&nbsp;</td>
            <td style="width: 159px; height: 23px;">&nbsp;</td>
            <td style="width: 109px; height: 23px;">&nbsp;</td>
            <td style="width: 110px; height: 23px;">&nbsp;</td>
            <td style="width: 111px; height: 23px;">&nbsp;</td>
            <td style="width: 112px; height: 23px;">&nbsp;</td>
            <td style="width: 112px; height: 23px;">&nbsp;</td>
          </tr>
          </tbody>
        </table>
         <p>asdfasdf</p>

</div>
