<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    ExpenseReport {{title}}
  </h1>
  <table>
    <tbody>
    <tr>
      <td><button class="btn btn-primary" type="button" onClick="newReport()"> NewReport </button>
      </td>
      <td><button class="btn btn-primary" type="button" onClick="getHistory()">History
      </button>
      </td>
    </tr>
    </tbody>
  </table>
  <br>
  <li *ngFor="let report of reports">
  {{ report.employee }}
  </li>

  <table class="table table-bordered" >
    <thead>
    <tr>
      <td>NR.</td>
      <td>DATE</td>
      <td>DATE</td>
      <td>CONTENT</td>
      <td>FIELD</td>
      <td>PROJECT</td>
      <td>SUM</td>
      <td>CURRENCY</td>
      <td>CRED.CARD</td>
      <td>TOTAL SUM</td>
    </tr>
    </thead>
    <tbody>


    <tr *ngFor="let report of reports">
      <td></td>
      <td>{{ report.employee }}</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>

    </tbody>
  </table>

</div>
