
  <table *ngIf="reports" class="table table-bordered" >
    <thead>
    <tr>
      <td>NR.</td>
      <td>NAME</td>
      <td>StartDATE</td>
      <td>EndDATE</td>
      <td>TOTAL SUM</td>
      <td></td>

    </tr>
    </thead>
    <tbody>

    <tr *ngFor="let report of reports">
      <td>{{ report.reportId}}</td>
      <td>{{ report.employee}}</td>
      <td>{{ report.startDate | date:'yMd'}}</td>
      <td>{{ report.endDate | date:'yMd'}}</td>
      <td>{{ report.expenseSum}}</td>
      <td><a [routerLink]="['/reportview', report.reportId]" class="btn btn-primary">ViewReport</a>
        <a routerLink="/editreport" class="btn btn-primary">EditReport</a>
        <a [routerLink]="['/deletereport', report.reportId]" class="btn btn-danger">Del.Report</a></td>

    </tr>

    </tbody>
  </table>


