<div style="text-align:center">
  <div class="card block">
    <div class="card-body">

      <h4 class="card-title"> Employee: {{ report.employee}}</h4>
    </div>
  </div>
  <div class="container">
  </div>
</div>

<table *ngIf="report" class="table table-bordered">
  <thead>
  <tr>
    <td>NR.</td>
    <td>DATE</td>
    <td>CONTENT</td>
    <td>FIELD</td>
    <td>ISSUER</td>
    <td>PROJECT</td>
    <td>CRED.CARD</td>
    <td>SUM</td>
    <td>CURRENCY</td>
    <td>SUM(EUR)</td>
  </tr>
  </thead>
  <tbody>


  <tr *ngFor="let document of report.documents">
    <td>{{ document.docId }}</td>
    <td>{{ document.date | date:'yMd'}}</td>
    <td>{{ document.content }}</td>
    <td>{{ document.field }}</td>
    <td>{{ document.issuer }}</td>
    <td>{{ document.project }}</td>
    <td>{{ document.creditCard }}</td>
    <td>{{ document.sum }}</td>
    <td>{{ document.currency }}</td>
    <td>{{ document.sumEur }}</td>

  </tr>
  </tbody>
</table>
<div class="card" align="right">
  <div class="card-body">
    <h4 class="card-title">TOTAL SUM: {{report.expenseSum}}</h4>
  </div>

</div>
